.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: solid black;
  position: relative;
  top: 50px;
  padding: 20px;
}
.message {
  padding: 20px 10px;
  line-height: 28px;
}
.form-input {
  margin-top: 5px;
}
.btn {
  background-color: blue;
  color: white;
  margin-top: 10px;
}
